*{margin: 0 auto;}

html , body {
	margin: 0;
	padding: 8;
	position: relative;
}

* {
	font-family: Helvetica, Arial, 'sans-serif', 'Montserrat';
	font-weight: 400;
}

.row {
	width: 100%;
    height: 100%;
    margin-right: -1px;
    margin-left: -1px;
    margin-top: 50px;
}



.parallax {
	 
	background-repeat: no-repeat center center fixed; 
	background-size: cover;

}



.menu {
    margin-top: 0px;
    position: absolute;
    z-index: 999;
    left: 0px;
    right: 0px;
    bottom: 0;
}

.navbar {
	width: 100%;
	height: 27px;
	background-color: #010A0D;
	/*background: transparent;*/
	/*margin-left: -15px;*/
	padding-left: 20px;
	font-size: 110%;
	color: #C3EAF7;	
	
}

.navbar-brand {
	padding-left: 5px; 
	padding-bottom: 1px;
}

#myNavbar ul {
	float: right;
}



.navbar .container-fluid .navbar-header button span{
	background-color: #e0cd02;

}

.inner {
	padding: 35px 50px;
	padding-bottom: 15px;
	display: inline-block;
	/*background-color: #9E938A;*/
	width: 100%;
}

.inner img {
	width: 155px;
	height: 155px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50px;
	border: 1px solid #BFB073;
	
}

.intro-text h1 {
	
	text-align: center;
	font-size: 80px;
	color: #C3EAF7;
	line-height: 1.4;
	font-weight: 500;
	font-family: 'Aladin', cursive;
	padding-top: 80px;
}

.intro-text h4 {
    color: #fcf520;
    text-align: center;
    padding-left: 860px;
    font-size: 24px;
    font-family: 'Marck Script', cursive;
}

h3, h4, h2 {

	margin-top: 25px;
	font-family: 'Alegreya', serif;
}

p {

   font-family: 'Niconne', cursive;
   font-weight: 400;
   font-size: 22px;

}

#cert {

    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 14px;
    color: #828180;
    padding-top: 5px;
    padding-left: 75px;
   
}

#cert:hover {
    color: #f9c402;
}

.srvc {

	margin-top: 30px;
	width: 580px;
	padding-left: 20px;
	font-family: 'Acme', sans-serif;
	color: #5e5f60;
	font-size: 14px;
}

.edu p {

	font-family: 'Acme', sans-serif;
	font-size: 14px;
	color: #606266;
}

.certification p{
    font-family: 'Acme', sans-serif;
	font-size: 16px;
	color: #606266;
	padding-top: 30px;

}

.prtfolio {
    padding-left: 380px; 
    margin-top: 14px; 
    padding-bottom: 100px;
    width: 800px;
    height: 100%;
    opacity: 0.7;
}

.prtfolio:hover {
	width: 900px;
	height: 100%;
	opacity: 1;
	padding-left: 260px; 

}

/* Style all font awesome icons */
.fa {
    padding: 5px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 20px 4px;
    border-radius: 50%;
}


.fa:hover {
    /*background: #474444;*/
    background: #F3DA07;
    color: black;
}


/* Facebook */
.fa-facebook {
    background: #050505;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #050505;
    color: white;
}

/* Linkedin */
.fa-linkedin {
  background: #050505;
  color: white;
}

/* Instagram */
.fa-pinterest {
  background: #050505;
  color: white;
}

.f_link {
	background: #444747;
}


/*.lptp {
	width: 50px;
	height: 40px;
	padding-left: 60px;
}*/


.btndwnld {
  background-color: #dbdbd4;
  color: black;
  font-family: 'Gentium Book Basic', serif;
  margin-left: 65px;
}

.btndwnld:hover {
  background-color: #efef94;
  color: black;

}

.heading {
	float: left;
	padding-top: 90px;

}

.heading_text {
	padding-right: 50px;
	
}

.cntctrow {
	background-image: url("images/cntct.jpg");
	z-index: -1;
	background-repeat: no-repeat;
	position: center;
}

fieldset 
{
    border: none;

}

input, textarea {
  
    background-color: #161616;
    color: #e8e8ea;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    font-size: 18px;
 
}

#contactAuthor, #contactEmail, #contactSub, #contactText{

    border: 1px solid #4a4a4c;
    padding: 3px 5px;
    background-color: #161616;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: 400;
    width: 600px; 
    
}

#contactAuthor:hover, #contactEmail:hover, #contactSub:hover, #contactText:hover{

    border: 1px solid #e6f1f2;

        
}

input[aria-invalid="true"], textarea[aria-invalid="true"] {
    
    border: 1px solid #f00;
    box-shadow: 0 0 4px 0 #f00;
}

.progress {
	
	background-color: rgb(79, 79, 79);	
	margin-bottom: 10px;
	-webkit-border-radius: 50;
	-moz-border-radius: 0;
	-o-border-radius: 0;
}

.progress-bar {
	
	font-size: 90%;
	color: #353d19;
	text-align: left;
	background-color: #F3DA07;	
}

.footer{
    /*height: 170px;*/
    /*background-color: #010A0D;*/
    background-color: #000000;
    margin: 0px 0x 10px 0px;
	text-align: center;

}

#f_name{

    color: #C3EAF7; 
    padding: 40px 0px 0px 0px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 14px;
}

.web {
	font-family: 'Caveat Brush', cursive;
	font-size: 18px;
	color: #C3EAF7;
}

#btnSubmit {
	background-color: #818384;
	color: #0b1b23;
	padding: 4px 15px;
	outline: 0;
	font-size: 120%;
	border: 0;
	font-size: 15px;
	margin-bottom: 80px;
	margin-top: 10px;
	margin-left: 215px;

}

#btnSubmit:hover {
	background-color: #F3DA07;
}

